.babel*
.bmocharc*
.bpkgignore
.editorconfig
.eslint*
.git*
.mocharc*
.yarnignore
README.md
build/
docs/
node_modules/
.circleci/
npm-debug.log
package-lock.json
research/
DB/
coverage/
bench/
test/
webpack.*.js
work/
yarn.lock
